/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  background: #529655;
  color: #fff;
  padding: 0px 0;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__wrap {
  display: flex;
  justify-content: left;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
.section {
  padding: 40px 0;
}

.section:nth-child(even) {
  background: #f4f4f4;
}

/* Footer */
footer {
  background: #666;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

img {
  max-width: 100%;
  width: 100px;
  height: 100px;
  height: auto;
}

img.logo {
  width: 100px;
  height: 100px;
}